* {
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  padding: 0;
}

#page {
  background-color: gainsboro;
  min-height: 100vh;
  padding: 0px;
}

#heading {
  background-color: teal;
  color: aliceblue;
  padding: 15px;
}

#subheading {
  background-color: powderblue;
  padding: 15px;
}

h1 {
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-size: 30px;
}
#intro {
  padding: 30px;
  font-size: 20px;
}

#startButton:disabled {
  background-color: grey;
}

#timer {
  float: right;
}
#timer .card-body {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
}

#card {
  padding: 0;
}
#question .card-body {
  background-color: blanchedalmond;
  margin: 0;
}
#question {
  padding: 20px 30px 20px 30px;
  background-color: gainsboro;
  margin: 0px;
}

#qNumber {
  font-weight: 600;
  font-size: 25px;
}

#qContent {
  font-weight: 500px;
  font-size: 35px;
}
#options {
  flex-wrap: wrap;
}

.btn-lg {
  margin: 10px;
  clear: both;
}

.btn-lg:disabled {
  background-color: grey;
}

#highScores {
  background-color: lightsteelblue;
  padding: 20px;
}

footer {
  background-color: teal;
  color: aliceblue;
  text-align: center;
  text-decoration: wavy;
  position: fixed-bottom;
}
#footText {
  margin: 0;
}
